.menuitem__table__collapse {
  display: inline-block;
  background: white;
}

.tablepanel {
  border-collapse: separate;
  border-spacing: 3px;
}

.tablecell {
  width: 12px;
  height: 12px;
  border-radius: 1px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tablecell.active {
  background-color: #b7caf0;
  border: 1px solid #578bf1;
}

.tableselect {
  margin-right: 10px;
}

.tableclose {
  cursor: pointer;
  font-weight: bold;
}

.tableheader {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
